body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculatorFrame {
  height: 40vh;
  width: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  background-color: rgb(170, 170, 170);
  border-radius: 5px;
  padding: 10px;
}

.buttons {
  height: 40vh;
  width: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  width: 50px;
  height: 50px;
  margin: 2px;
  flex-grow: 1;
}

.clearBtn,
.deleteBtn {
  flex-grow: 4;
}
