body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculatorFrame {
  height: 50vh;
  width: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  background-color: rgb(170, 170, 170);
  border-radius: 5px;
  padding: 10px;
}

.currentNumDisplay,
.prevNumDisplay {
  background-color: white;
  text-align: right;
  margin: 0px;
  padding: 3px;
}

.resultDisplay {
  background-color: white;
  padding: 10px;
  border: solid black;
  border-radius: 3px;
}

.prevNumDisplay {
  color: rgb(140, 140, 140);
  border-bottom: solid rgb(232, 232, 232);
}

.buttons {
  height: 40vh;
  width: 25vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

button {
  width: 50px;
  height: 50px;
  margin: 2px;
  flex-grow: 1;
}

.clearBtn,
.deleteBtn {
  flex-grow: 4;
}
