body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.calcFrame {
  width: 29vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 170, 170);
  border-radius: 5px;
  padding: 20px;
}

.calcDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numDisplay,
.prevNumDisplay {
  background-color: white;
  text-align: right;
  margin: 0px;
  padding: 10px;
  font-size: 1.5em;
}

.resultDisplay {
  width: 100%;
  background-color: white;

  border: solid white;
  border-radius: 6px;
  box-shadow: 2px 5px 5px rgb(7, 56, 171);
  margin-bottom: 5px;
}

.prevNumDisplay {
  font-size: 1.2em;
  color: rgb(140, 140, 140);
  border-bottom: solid rgb(232, 232, 232);
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgb(7, 56, 171);
}

.clearBtn,
.deleteBtn {
  grid-column: span 2;
}

button:hover {
  background-color: rgb(49, 28, 237);
  color: blue;
}
